@font-face {
    font-family: 'Space Grotesk';
    src: url(../fonts/SpaceGrotesk-Medium.woff) format('woff'),
        url(../fonts/SpaceGrotesk-Medium.woff2) format('woff2');
    font-display: swap;
    font-weight: 500;
}
html{
    font-size: 10px;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Space Grotesk';
    margin: 0;
}

::placeholder{
    font-size: 1.8rem;
    color:hsl(270, 3%, 87%);
}

:root{
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --red: hsl(0, 100%, 66%);
    --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
}

.main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
}  
.header{
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}
.card-container{
    position: relative;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
}
.card{
    width:290px;
    height: 150px;
    position: absolute;
    border-radius: .5em;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.card--front{
    left:1em;
    bottom:-3em;
    background-image: url(../images/bg-card-front.png);
}
.card--back{
    top:2em;
    right: 1em;
    background-image: url(../images/bg-card-back.png);
}
.card__inner{
    height: 100%;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__details{
    color: var(--white);
    opacity: 70%;
}
.card__details div{
    font-size: 1rem;
    text-transform: uppercase;
    display:flex;
    justify-content: space-between;
}
.card__image,
.card__number{
    margin: 0;
}
.card__number{
    font-size: 1.6rem;
    letter-spacing: .2em;
    text-transform: uppercase;
}
.card__cvc{
    position: absolute;
    font-size: 1.1rem;
    color: var(--white);
    top:6rem;
    right:3rem;
}

.form{
    width:100%;
    max-width: 400px;
    padding: 6em 2em 0em 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6em;
}
.form__fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
.form__field{
    margin-bottom: .8em;
    opacity: 90%;
}
.form__label{
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--very-dark-violet);
    padding-bottom: .3em;
}
.form__input{
    width: 100%;
    height: 40px;
    padding-left: 1em;
    border-radius: .5em;
    border: 1px solid var(--light-grayish-violet);
}
.form__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8em;
    opacity: 90%;
}
.form__column{
    margin-right: .5em;
}
.form__column--cvc{
    flex-basis: 350px;
    margin-right: 0;
}
.form__error{
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 600;
}
.form__button{
    width: 100%;
    height: 42px;
    background-color: var(--very-dark-violet);
    color: var(--light-grayish-violet);
    border-radius: .5em;
    border: none;
    font-size: 1.6rem;
}

.confirmation{
    display: none;
    margin-top:5em;
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.confirmation__title{
    padding-top: .5em;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .4rem;
    margin-bottom: .5em;
}
.confirmation__message{
    color: var(--dark-grayish-violet);
    font-weight: 500;
    margin-bottom: 2.4em;
    font-size: 1.8rem;
}
.confirmation__button{
    display: block;
    width: 100%;
    padding: .6em 1em;
    border-radius: .3em;
    border: none;
    background-color: var(--very-dark-violet);
    color: var(--white);
    font-size: 2rem;
}

.attribution {
    padding-bottom: .5em;
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media screen and (min-width:1024px){
    .main{
        height: 100vh;
    }
    .row{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header{
        height: 100vh;
        background-image: url(../images/bg-main-desktop.png);
    }
    .form{
        width: 320px;
        padding: 0;
        margin-bottom: 0;
    }
    .column-30{
        flex-basis:30%;
    }
    .column-70{
        flex-basis:70%;
    }
    .card{
        width:350px;
        height: 200px;
    }
    .card--front{
        bottom:52%;
        left:40%;
    }
    .card--back{
        top:52%;
        right:-44%;
    }
    .form__field{
        margin-bottom: 3rem;
    }
    .attribution{
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    .card__number{
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .card__cvc{
        top:8rem;
        font-size: 1.2rem;
    }
    .card__holder,.card__expiration-date{
        font-size: 1.2rem;
    }

}

@media screen and (min-width:1400px){
    .card-container{
        height: 800px;
        transform: translate(13%,12%);
    }
    .form{
        width: 450px;
    }
}
input:focus{
    outline: none;
    border: none;
}
@media (hover:hover){
    input:hover{
        cursor: pointer;
        outline: 1px solid var(--very-dark-violet);
    }
}